body {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    background-color: blue;
}

.Calculator {
    background-color: aqua;
    padding: 20px;              
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 70px); 
    gap: 10px;
    justify-content: center;
}

input {
    grid-column: span 4;   
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    font-size: 18px;
    text-align: right; 
}

button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 18px;
}
